# Python-related files
*.pyc
__pycache__/

# Django-related files
db.sqlite3

# Celery-related files
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

# IDE-related files
.vscode/
.idea/

# Other files
.DS_Store